{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex justify-center items-center min-h-screen bg-pink-50">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
        <form action="" method="post" class="space-y-4">
            {% csrf_token %}
            <h2 class="text-2xl font-semibold text-center text-pink-600 pb-4">Add Album</h2>
            {{ form|crispy }}
            <button class="w-full py-2 bg-yellow-400 text-white rounded hover:bg-yellow-500 transition duration-200">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}
